.cardButton {
  border: none;
  background-color: hsl(213, 19%, 18%);
  color: hsl(216, 12%, 54%);
  padding: 15px;
  width: 3rem;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.cardButton .isSelected {
  color: white;
  background-color: hsl(25, 97%, 45%);
}

.cardButton:hover {
  background-color: hsl(25, 97%, 45%);
  cursor: pointer;
  color: white;
}
