@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

main {
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
